.sp-replacer{
	width: 254px;
}
.sp-preview{
	width: 224px !important;
}

.open_editor{
	position: relative;
	transition: all $transitionTime ease;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
	background-color: $primary;
	color: $white;
	cursor: pointer;
	z-index: 1;
	box-shadow: $dropShadow;
	@include border-radius(34px);

	&:hover{
		background-color: $primaryShadow;
	}

	img{
		position: relative;
		max-width: 32px;
		max-height: 32px;
		top: 14px;
		left: 14px;
	}
}

.edit_section{
	border-bottom: 1px solid $grey;

	&_title{
		padding: 8px 20px;
		font-weight: bold;
		cursor: pointer;
	}

	&:first-child{
		border-top: 1px solid $grey;
	}
}

.save_field, .load_container{
	background-color: $white;
	display: none;
	
	&_inner{
		padding: 20px;
		border-top: 5px  solid $primary;
		border-bottom: 5px  solid $primary;
	}
}

.load_container{
	&_inner{
		border-top: 5px  solid $secondary;
		border-bottom: 5px  solid $secondary;
	}
}

.save_over, .load_options{
	display: none;
}

.save_over_name, .load_name{
	transition: all $transitionTime ease;
	background-color: $lightGrey;
	margin-bottom: 10px;
	padding: 10px 20px;
	cursor: pointer;

	&:hover{
		background-color: $darkGrey;
		color: $white;
	}
}

.save_message{
	color: $primary;
	font-size: 11px;
	line-height: 13px;
	height: 0;
	margin-top: 7px;
	margin-bottom: -7px;
	max-width: 180px;
	display: none;
}

.collapse{
	padding: 20px 20px 10px;
	background-color: $white;
	display: none;
}

.editor{
	transition: all $transitionTime ease;
	width: 300px;
	position: fixed;
	height: 100%;
	top: 0;
	right: -300px;
	//right: 0;
	padding:  0 0 20px;
	border-left: solid 3px $grey;
	border-right: solid 3px $grey;
	background-color: $lightGrey;
	//box-shadow: $dropShadow;
	z-index: 4;

	.close_editor{
		width: 15px;
		height: 15px;
		position: absolute;
		right: 9px;
		top: 11px;
		cursor: pointer;

		.svg{
			transition: all $transitionTime ease;
			fill: $grey;
		}

		&:hover{
			.svg{
				fill: $darkGrey;
			}
		}
	}

	&.active{
		right: 0;
	}

	h2{
		margin: 0 20px;
	}

	.edit_field{
		margin-bottom: 20px;
	}

	span{
		display: block;
		margin: 0 0 6px;
	}

	input{
		width: 100%;
		border: 0;
		padding: 8px 10px;
		background-color: $lightGrey;
	}

	.apply, .action_btn, .small_btn{
		background-color: $primary;
		transition: all $transitionTime ease;
		margin: 0;
		padding: 10px 0;
		color: $white;
		cursor: pointer;
		text-align: center;

		&:hover{
			background-color: $primaryShadow;
		}
	}

	.small_btn{
		display: inline-block;
		width: auto;
		margin: 10px 0 0;
		padding: 8px 15px;
		float: right;
	}

	.action_buttons{
		width: 260px;
	}

	.action_btn{
		float: left;
		width: (100% / 3);
	}

	.save{
		background-color: $primary;

		&:hover{
			background-color: $primaryShadow;
		}
	}

	.load{
		background-color: $secondary;

		&:hover{
			background-color: $secondaryShadow;
		}
	}

	.export{
		background-color: $tertiary;

		&:hover{
			background-color: $tertiaryShadow;
		}
	}

	.hr{
		height: 1px;
		background-color: $grey;
		margin: 35px 0 30px;
	}
}