.palette{
	width: 100%;
	margin-bottom: $spacingDouble;

	.color{
		width: (100% / 3);
		float: left;

		&>div{
			min-height: 200px;
			width: 100%;
		}
	}

	span{
		display: block;
		padding-bottom: $spacingQuarter;
	}

	.color>div{transition: all $transitionTime ease;}

	&.primary .color>div{background-color: $primary;}
	&.primary .color.shadow>div{background-color: $primaryShadow;}
	&.primary .color.highlight>div{background-color: $primaryHighlight;}

	&.secondary .color>div{background-color: $secondary;}
	&.secondary .color.shadow>div{background-color: $secondaryShadow;}
	&.secondary .color.highlight>div{background-color: $secondaryHighlight;}

	&.tertiary .color>div{background-color: $tertiary;}
	&.tertiary .color.shadow>div{background-color: $tertiaryShadow;}
	&.tertiary .color.highlight>div{background-color: $tertiaryHighlight;}
}

@media only screen and (max-width: $mediaMobile){
	.palette{
		width: 100%;
		margin-bottom: $spacingDouble;

		.color{
			width: (100% / 1);
			float: none;
			margin-bottom: $spacingHalf;
		}
	}
}
