//Colours
$primaryHighlight: lighten( $primary, 10%);
$primaryShadow: darken( $primary, 10%);

$secondaryHighlight: lighten( $secondary, 10%);
$secondaryShadow: darken( $secondary, 10%);

$tertiaryHighlight: lighten( $tertiary, 10%);
$tertiaryShadow: darken( $tertiary, 10%);