a{
	color: $primary;
	transition: all $transitionTime ease;

	&:hover{
		color: $primaryShadow;
	}
}

h2{
	font-size: 32px;
	font-weight: 200;
	line-height: 1.4em;
}

p{
	line-height: 1.4em;
	font-weight: 400;
}
