h1, h2, h3, h4, h5, p{
	margin-top: 0;
}

h2{
	font-size: 32px;
	font-weight: 200;
	line-height: 1.4em;
}

p{
	line-height: 1.4em;
	font-weight: 400;
}

a{
	color: $primary;
	transition: all $transitionTime ease;

	&:hover{
		color: $primaryShadow;
	}
}
